* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.92rem;
  background: #fafafa;
  min-width: 700px;
  overflow: auto;
}

/* flash-messages*/
.flash-messages {
  display: flex;
  justify-content: center;
}
.error-msg-box,
.flash-messages-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 65px;
  width: 448px;
  animation: fade-in-message 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  z-index: 10000;
}

/* error */
ul.errorlist {
  list-style: none;
  font-size: 12px;
  color: #dc3545;
}

div.alert.alert-warning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: #000;
  border: 1px solid #ff0000;
  background-color: #e7b6b6;
  padding: 1.5rem 2rem;
  width: 28rem;
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(244 67 54);
}

div.alert.alert-success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: #000;
  border: 1px solid #008000;
  padding: 1.5rem 2rem;
  /* height: 7rem; */
  width: 28rem;
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(76 175 80 / 40%);
}

.fa-exclamation-circle {
  color: #d90202;
}

.fa-check-circle {
  color: #008000;
}

div.alert.alert-warning > i.fas.fa-exclamation-circle,
div.alert.alert-success > i.fas.fa-check-circle {
  position: absolute;
  left: 15px;
  font-size: 1.2rem;
}

button.close {
  position: absolute;
  right: 15px;
  top: 10px;
}

/* animation for flash message */
@keyframes fade-in-message {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* NAV header */

.nav-bg-color {
  background-color: #1d4354;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 1.5rem;
  text-shadow: 2px -2px 3px #0a00df, -2px -7px 1em #95df00, -5px 7px 7px #95df00;
}

.logo:hover {
  color: #95df00 !important;
  text-shadow: 2px -2px 3px #7500df, -2px -7px 1em #ffffff,
    -5px 7px 11px #ffffff;
}

.logo img {
  height: 32px;
}

#sidebarCollapse {
  /* box-shadow: none; */
  background-color: #1d4354;
  border-color: #1d4354;
  border-radius: 50%;
}

#sidebarCollapse:hover {
  border-color: #95df00;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.5s;
}

#sidebarCollapse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 15px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger {
  position: absolute;
  width: 20px;
  height: 2px;
  background: rgb(255, 255, 255);
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.menu-btn-burger::before,
.menu-btn-burger::after {
  content: '';
  position: absolute;
  left: 0;
  width: 20px;
  height: 2px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.3s ease-in;
}
.menu-btn-burger::before {
  transform: translateY(-7px);
}
.menu-btn-burger::after {
  transform: translateY(7px);
}

#sidebarCollapse.open .menu-btn-burger {
  transform: translateX(-10px);
  width: 0;
  background: transparent;
  box-shadow: none;
}
#sidebarCollapse.open .menu-btn-burger::before {
  transform: rotate(45deg);
}
#sidebarCollapse.open .menu-btn-burger::after {
  transform: rotate(-45deg);
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
  font-weight: 600;
}

.site-header .navbar-nav .nav-link:hover {
  color: #95df00;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 700;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

/* Side Bar*/

#sidebar.active {
  margin-left: -280px;
}
.wrapper {
  display: flex;
  text-decoration: none;
  transition: all 0.3s;
  height: 100vh;
}

#sidebar {
  min-width: 280px;
  max-width: 280px;
  background: #ddefda;
  color: #1d4354;
  transition: all 0.3s ease-out;
  padding-top: 4rem;
}

#sidebar .sidebar-header {
  padding: 1.5rem;
  background: #ddefda;
}
#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: #1d4354;
  padding: 1rem;
}

#sidebar ul li a {
  padding: 10px;
  font-weight: 700;
  display: block;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  /* box-shadow: inset 0px -1px 0 0 #8ee5b2; */
  margin: 0 20px;
  position: relative;
}

#sidebar ul li a.highlight-hover:hover {
  background: rgb(20 168 0);
  color: #fff;
  border-radius: 5px;
  box-shadow: unset;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/* #sidebar ul li a.highlight-hover {
  transition: all 0.5s ease-out;
} */

.active-highlight {
  background: rgb(20 168 0);
  color: #fff !important;
  border-radius: 5px;
  box-shadow: unset !important;
}

.underline-hover::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #14a800;
  transition: width 0.2s ease-out;
}

.underline-hover:hover::before {
  width: 100%;
}

a.active-underline {
  text-indent: 1rem;
  transition: all 0.3s ease-out;
}

a.active-underline::before {
  content: '\25B6  ';
  position: relative;
  color: #14a800;
  background: none;
}

.dropdown-toggle::after {
  display: none !important;
}
.dropdown-arrow {
  float: right;
  font-size: 1.2rem;
  font-weight: 600;
}

a[data-toggle='collapse'] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #ddefda;
}

ul ul a:hover {
  text-indent: 1rem;
}

/* Nav bar toggler button */

.navbar-dark .navbar-toggler {
  color: transparent;
  border-color: transparent;
  background-color: #1d4354 !important;
}

button.navbar-toggler:focus {
  outline: none;
  background-color: #1d4354 !important;
}

/* Nav Profile Image */

.nav-profile .profile {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* border: 2px solid #14a800; */
  background-color: #ddefda;
  overflow: hidden;
  cursor: pointer;
}

.nav-profile .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-profile .menu {
  width: 120px !important;
  position: absolute;
  top: 4.5rem;
  right: 3rem;
  padding: 1rem;
  background: #fff;
  border-radius: 0.2rem;
  transform: translateY(-10px);
  box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 0.3);
  transition: all 0.2s ease-in-out;
  transform-origin: top;
  visibility: hidden;
  opacity: 0;
}

.nav-profile .menu.active {
  visibility: visible !important;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  animation: scale-in-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.extend-focus.active {
  width: 145px;
  position: absolute;
  height: 40px;
  background: rgb(0 0 0 / 0%);
  transform: translate(-80px, 40px);
  z-index: 1000;
}

.nav-profile .menu::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 30px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
  box-shadow: -2px -2px 1px 0px rgb(0 0 0 / 20%);
}

.nav-profile .menu h3 {
  width: 100%;
  text-align: center;
  padding: 5px 0;
  font-weight: 500;
  font-size: 1rem;
  color: #1d4354;
  line-height: 1rem;
}

.nav-profile .menu ul li {
  list-style: none;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.nav-profile .menu ul li:hover * {
  color: #14a800;
  opacity: 1;
}

.nav-profile .menu ul li img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}

.nav-profile .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #1d4354;
  font-weight: 500;
  transition: 0.5s;
}

.menu ul li > a::before {
  content: '';
  position: relative;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #14a800;
  display: block;
  top: 33px;
  transition: width 0.25s ease-out;
}

.menu.active ul li > a:hover::before {
  width: 100%;
}

/* Profile  content section */
.profile-wrapper {
  position: relative;
  transform: translateY(60px);
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  border-radius: 6px;
  overflow: auto;
}

.account-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ddefda;
  margin: -80px auto 0;
  border: 5px solid #fff;
  object-fit: cover;
  /* box-shadow: inset 0 16px 38px -12px rgb(0 0 0 / 56%), inset 0 4px 25px 0 rgb(0 0 0 / 15%), inset 0 8px 10px -5px rgb(0 0 0 / 30%); */
}

.profile-content-section {
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.profile-cover {
  height: 200px;
  background: linear-gradient(60deg, #4a7eab, #43ac48);
}

.target-fieldset.profile {
  box-shadow: none;
}

.form-group.profile-content {
  padding: 1rem;
  margin-top: -1rem;
}

p.text-secondary {
  margin: 0;
}

span.image-icon {
  position: absolute;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  transform: translate(170px, -20px);
  background: #e4e6eb;
  display: inline-block;
  overflow: hidden;
}

label {
  font-weight: 500;
  font-size: 15px;
  margin-top: 0.5rem !important;
  display: inline-block;
}

label.fas.fa-camera {
  font-size: 18px;
}

label.fas.fa-camera:hover {
  cursor: pointer;
}

div.image-icon-wrapper {
  margin: -25px auto 0;
}

/* author image */

.author__image > img {
  height: 25px;
  width: 25px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%),
    0 5px 8px -5px rgb(110 32 145 / 50%);
}

.author__image-site-details {
  display: flex;
  margin-top: -25px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  overflow: hidden;
  transform: translateX(150px);
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%),
    0 5px 8px -5px rgb(110 32 145 / 50%);
}

.author__image-site-details > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

legend {
  width: unset;
  text-align: left;
  margin-left: 30px;
  padding: 0 5px;
  font-size: 1.2rem;
  font-weight: 400;
}

fieldset {
  border: 1px solid #d5d5d5ad;
  /* margin: 0 2rem; */
  border-radius: 5px;
  padding: 0 1rem 1rem 0;
}

.form-group {
  text-align: left;
  margin-bottom: 0;
}

.form-group.profile {
  margin-top: 1rem;
}

input:not([readonly]):focus,
textarea:focus {
  color: #495057;
  background-color: #fff;
  outline: 0;
  box-shadow: 0px 0px 6px 1px rgb(94 208 208 / 80%);
}
.form-control:focus {
  box-shadow: 0px 0px 6px 1px rgb(94 208 208 / 80%);
  border-color: #80bdff;
}

input:read-only:focus {
  box-shadow: unset;
  border: 1px solid #ced4da;
  outline: none;
}

input[type='checkbox'],
input[type='radio'] {
  accent-color: #14a800;
  margin: 0.5rem;
}

input[type='search'],
select {
  height: 2.2rem;
}

/* input::placeholder {
  font-style: italic;
} */

.btn-success.new-scrape {
  margin: 0 1.2rem;
  padding: 0.2rem 1.2rem;
  box-shadow: none;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 1rem;
}

button.btn.btn-success.btn-sm,
a.btn.btn-secondary.btn-sm,
.btn.btn-success.btn__access,
.btn-danger.btn__access {
  color: #fff;
  padding: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  width: 130px;
  border: 0;
  border-radius: 1rem;
}

.btn.btn-success.btn-sm {
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 15%),
    0 7px 10px -5px rgb(76 175 80 / 70%);
  margin: 15px 5px;
}
a.btn.btn-secondary.btn-sm {
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 15%),
    0 7px 10px -5px rgb(155 155 155 / 70%);
  margin: 15px 5px;
}

.btn-group__access {
  margin: auto 25px 10px !important;
  display: flex;
  justify-content: center;
}

.btn-success.btn__access {
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 15%),
    0 7px 10px -5px rgb(76 175 80 / 70%);
  margin: 15px 5px;
}

.btn-danger.btn__access {
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(244 67 54 / 40%);
  margin: 15px 5px;
  color: #fff !important;
}

.btn.btn-success.btn__access:hover {
  color: #fff;
}
/* loader  */
.line__loader {
  height: 10px;
  position: relative;
  top: -18px;
  overflow: hidden;
  background-color: #ddd;
  margin: auto 0;
}

.line__loader:before {
  content: '';
  position: absolute;
  left: -50%;
  height: 10px;
  width: 40%;
  background-color: #ff7f50;
  -webkit-animation: oneliner 1s linear infinite;
  -moz-animation: oneliner 1s linear infinite;
  animation: oneliner 1s linear infinite;
}

@keyframes oneliner {
  0% {
    left: -40%;
  }
  50% {
    left: 20%;
    width: 80%;
  }
  100% {
    left: 100%;
    width: 100%;
  }
}

.target-sites.scraped__data {
  animation: slide-top 1.2s ease-in;
  margin-top: 1rem;
}

/* modal */
@media (min-width: 576px) {
  .modal-dialog {
    max-width: none;
    margin: 1.75rem auto;
  }
}

button.close-btn {
  font-size: 2rem;
}

button.close-btn:focus {
  outline: 0 !important;
}

.modal-header.ui-draggable-handle:hover {
  cursor: grab;
}

.modal-header.ui-draggable-handle:active {
  cursor: grabbing;
}

.modal-open .modal {
  overflow: hidden;
}

.modal-body {
  height: 80vh;
  overflow-y: scroll;
}

.modal-xl {
  width: 800px !important;
}

.modal-delete-width {
  width: 550px !important;
}

.modal-delete-body {
  height: 60px;
  overflow: hidden;
}

.site-delete-header {
  padding: 7px;
  margin: 6px;
}

table#table_image_urls th {
  font-weight: 700;
  color: #636768;
}

/* crispy form */

.asteriskField {
  display: none;
}

input:not([type='checkbox']),
select {
  height: 2.2rem !important;
  font-size: 0.875rem !important;
}
textarea {
  font-size: 0.857rem !important;
}

/* Content Section - Dashboard */
.content-container {
  width: 100%;
  padding: 0.7rem;
  height: 100vh;
  transition: all 0.3s;
  background: #f3f3f3;
  background-color: rgb(240, 242, 245);
  text-align: center;
  overflow: auto;
}

section div {
  color: #344767;
  background-color: #fff;
  margin: 0.7rem;
}

section.section-one {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

section.section-two {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  /* animation: fade-in 1.2s ease-in; */
}

section div.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 1 0px; /*To make flex box same in size*/
  align-items: center;
  border-radius: 5px;
  /* margin: 1rem; */
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
}

section.section-one div.card {
  padding: 0.5rem;
}

.card-icon {
  border-radius: 10rem;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.section-one .card:nth-of-type(1) .card-icon {
  color: #fff;
  background: linear-gradient(60deg, #66bb6a, #43a047);
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(76 175 80 / 40%);

  animation: scale-in-center 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 1;
}

.section-one .card:nth-of-type(2) .card-icon {
  color: #fff;
  background: linear-gradient(60deg, #ffa726, #fb8c00);
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(255 152 0 / 40%);
  animation: scale-in-center 0.4s ease-in 1;
}

.section-one .card:nth-of-type(3) .card-icon {
  color: #fff;
  background: linear-gradient(60deg, #26c6da, #00acc1);
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(0 188 212 / 40%);
  animation: scale-in-center 0.5s ease-in 1;
}

.section-one .card:nth-of-type(4) .card-icon {
  color: #fff;
  background: linear-gradient(60deg, #ef5350, #e53935);
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(244 67 54 / 40%);
  animation: scale-in-center 0.6s ease-in 1;
}

.card:nth-of-type(1):hover,
.card:nth-of-type(2):hover,
.card:nth-of-type(3):hover,
.card:nth-of-type(4):hover {
  box-shadow: 0px 5px 20px -5px rgb(0 0 0 / 30%);
}

h2 {
  font-weight: 400 !important;
}

h2 + p,
h2 + span + p {
  margin: unset;
  font-weight: 500 !important;
}

img.chart {
  height: 28rem;
}

/* section.section-two > div:first-of-type > div {
  animation: slide-top 1.5s cubic-bezier(0.25, 0.1, 0.25, 1) 1;
}

section.section-two > div:last-of-type > div {
  animation: slide-top 1.5s cubic-bezier(0.25, 0.1, 0.25, 1) 1;
} */

.card.card-chart.chart-wrapper {
  display: block;
  padding: 0.7rem;
}

canvas {
  width: 100%;
  object-fit: contain;
}

/* End of Content */

/* Media Queries sidebar */
/* m-768px */
@media (max-width: 1000px) {
  .logo {
    margin: 0;
  }
  button.btn.btn-sm.btn-success.new-scrape {
    margin-left: unset;
  }
  #sidebar {
    margin-left: -300px;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #sidebarCollapse {
    display: none;
  }

  #sidebar {
    margin-left: 0px;
    min-width: 100px;
  }

  #sidebar ul li a {
    padding: 0px;
  }

  a span.sidebar-label {
    display: none;
  }

  #sidebar ul li a {
    padding: 10px;
    margin: 0 1.7rem;
    font-size: 1.5rem;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px -1px 0 0 #7e8a83;
  }
  .dropdown-toggle::after {
    display: none;
  }
  ul#home-submenu {
    position: absolute;
    margin-left: 60px;
    transform: translateY(-45px);
    width: 200px;
    z-index: 1; /* or set to static position the "section div.card "*/
  }

  #sidebar ul li a:hover {
    color: #fff;
    background: #14a800;
    border-bottom: none;
    margin: 0 1.7rem;
    border-left: 0;
    border-right: 0;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
  .submenu {
    background-color: #14a800;
    color: #fff;
    border-radius: 5px;
  }
  .dropdown-arrow {
    display: none;
  }

  ul ul a:hover {
    text-indent: unset;
  }

  a.active-underline {
    text-indent: unset;
  }

  a.active-underline::before {
    color: #fff !important;
  }

  /* container */
  .content-container {
    padding: 0;
  }

  /* Profile-Nav Img */
  .nav-profile .menu {
    top: 10.5rem !important;
    right: unset !important;
  }

  .nav-profile .menu::before {
    right: unset !important;
  }
  textarea {
    width: 80% !important;
  }
  .target-sites-scrape-detail {
    overflow: hidden !important;
  }
}

@media (max-width: 1400px) {
  .new-scrape-inputs {
    max-width: 60% !important;
  }

  /* buttons group */
  .btn-group__access {
    justify-content: flex-start;
  }
}

@media (max-width: 600px) {
  /* buttons group */
  .btn-group__access {
    flex-direction: column;
  }
}

/* content-container-dashboard*/

@media (min-height: 600px) {
  section.section-one {
    margin-top: 4rem;
  }
  .new-scrape-checkboxes {
    flex-direction: column;
  }
}

@media (max-width: 1300px) {
  section.section-one,
  section.section-two,
  .new-scrape-content {
    flex-direction: column;
  }

  section.section-one div.card {
    display: flex;
    flex-direction: column;
    animation: slide-top 1s ease-in;
  }
}

/* Animation */

@-webkit-keyframes slide-top {
  0% {
    transform: translateY(20px);
    /* opacity: 0; */
  }
  100% {
    transform: translateY(0);
    /* opacity: 1; */
  }
}

@keyframes slide-top {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}

/* Aim dealers- List | Dealer details */

section.site-list {
  margin-top: 3rem;
}

section.dealer-details {
  margin-top: 4.5rem;
}

center.dropdown__menus {
  position: relative;
  top: 10px;
  font-size: 0.8rem;
  font-weight: 500;
}

select#scrape-status,
select#site-provider {
  width: 120px;
  height: 25px !important;
  margin-right: 20px;
  margin-bottom: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
  padding-left: 5px;
}

.target-fieldset,
.target-sites,
.target-sites-scrape-new,
.target-sites-scrape-detail,
.help-page,
.api-page {
  box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 15%);
  overflow-x: auto;
  overflow-y: hidden;
  /* animation: slide-top 1s cubic-bezier(0.25, 0.1, 0.25, 1); */
  animation: slide-top 1s ease-in-out;
  border-radius: 8px;
}

.target-fieldset,
.target-sites,
.target-sites-scrape-new {
  padding: 15px;
}

.table {
  font-size: 0.9rem;
  font-weight: 400;
  box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 15%);
  text-align: left;
}

.table .thead-light th {
  color: #797979;
  background-color: #c5c8cc;
  border-color: none;
}

.table thead th,
.table td {
  border-bottom: none;
}

.table td,
.table th {
  border-top: none;
}

table#dealers-list-table tbody td {
  padding: 0 10px;
}

table#dealers-list-table tbody tr:hover,
table#dealers-list-table tbody tr:hover div:nth-of-type(1) {
  background-color: #eee;
  border: none;
}

/* datatable starts */

/* scroll X */
table {
  /* display: block; */
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
}

table.site-details.dataTable tbody td {
  padding: 0px 10px;
}

table.dataTable thead th,
table.dataTable tfoot th {
  vertical-align: middle;
}

.dataTables_wrapper .dataTables_filter input::-webkit-search-cancel-button {
  -webkit-appearance: button !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.3rem 0.78rem !important;
  border-radius: 10rem !important;
  border: 1px solid #b2e8a4 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #fff !important;
  background: linear-gradient(60deg, #66bb6a, #43a047) !important;
  border: 1px solid #b2e8a4 !important;
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(76 175 80 / 40%) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #fff !important;
  border: 1px solid #b2e8a4 !important;
  background: linear-gradient(60deg, #66bb6a, #43a047) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.previous.disabled {
  color: #a5a5a5 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next.disabled:hover,
.dataTables_wrapper
  .dataTables_paginate
  .paginate_button.previous.disabled:hover {
  color: #fff !important;
}

table.dataTable.no-footer {
  border-bottom: 0 !important;
}

table.dataTable tfoot th,
table.dataTable tfoot td {
  padding: 10px 18px 6px 18px;
  border-top: 1px solid #eeeeee !important;
}

.dataTables_wrapper .dataTables_info,
.dataTables_length > label,
.dataTables_length select {
  font-size: 0.9rem !important;
  font-weight: 400;
}

.dataTables_wrapper .dataTables_filter input,
.dataTables_wrapper .dataTables_length select {
  height: 30px !important;
}

.darker__primary {
  color: #2268d2;
  font-weight: 400;
}

.lighter__primary {
  color: #547fc0;
  font-weight: 400;
}

th {
  /* text-align: center; */
  font-weight: 400;
}

.underline {
  text-decoration: underline;
}

a.hover-effect :hover,
.hover__effect:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #0052cc;
}

/* New scrape add sites and sites details */
.target-sites-scrape-new div {
  margin: 0;
}

.form-input-div {
  margin: 0.5rem !important;
}

.scrape {
  position: relative;
}
.scrape::before {
  content: '&nbsp;';
  visibility: hidden;
}
.scrape span {
  position: absolute;
  left: 15px;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.new-scrape-content {
  display: flex;
}

.site-detail-content {
  display: flex;
  justify-content: space-evenly;
  min-width: fit-content;
}

.new-scrape-checkboxes {
  display: flex;
  flex-direction: row;
}

.form-input-div {
  margin: 1rem auto;
}

label.form-check-label {
  font-size: 0.85rem;
  width: 100px;
}

.new-scrape-legend {
  font-size: 1rem;
  margin-top: 1.5rem !important;
  font-weight: 500;
}

.check-uncheck__all {
  font-size: 1.2rem;
  margin-bottom: 20px !important;
}

.check-uncheck__all > *:hover,
i.fa.fa-question-circle.fa-1x.red-tooltip:hover {
  cursor: pointer;
}

i.fa.fa-question-circle.fa-1x.red-tooltip {
  transform: translateY(-5px);
  color: #098807;
}

/* download and delete buttons */
.download-delete-btn {
  display: flex;
  justify-content: center;
  margin: 0;
}

.download-btn,
.delete-btn {
  display: flex;
  width: 25px;
  overflow: hidden;
  cursor: pointer;
  height: 20px;
  border-radius: 3px;
  margin: 12px 1px;
}

.download-btn .left,
.delete-btn .left {
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-top: 0;
  color: #fff;
  transition: all 300ms ease-in-out;
}

.download-btn .right,
.delete-btn .right {
  padding: 0 6px;
  left: 30px;
  transform: translateX(-20px);
  margin-top: 0px;
  height: 100%;
  width: 100%;
  background: #fff;
  color: #000;
  border-radius: 3px;
  font-size: 1rem;
}

.download-btn .left {
  background: linear-gradient(60deg, #4caf50, #4caf50);
}
.download-btn .right {
  border: 1px solid #4caf50;
  color: #4caf50;
}

.delete-btn .left {
  background: linear-gradient(60deg, #f44336, #f44336);
}

.delete-btn .right {
  border: 1px solid #f44336;
  color: #f44336;
}

.fa-download:before,
.fa-times:before {
  position: relative;
  top: -1px;
  left: -2px;
  margin: 0 8px;
}

.fa-download:before {
  left: -2px;
}

.fa-times:before {
  left: -1px;
}

.fa-file-csv:before,
.fa-trash:before {
  position: relative;
  top: -3px;
  font-size: 15px;
}

.fa-trash:before {
  left: -1px;
}

.download-btn:hover .left,
.delete-btn:hover .left {
  margin-left: -25px;
}

.btn-success.btn__access.download-btn2,
.btn-danger.btn__access.delete-btn2 {
  overflow: hidden;
}

.download-btn2 > span.left2 {
  padding: 6px 35px;
  margin-left: -5px;
  transition: all 300ms ease-in-out;
}

.download-btn2 > span.right2 {
  padding: 6px 68px;
  margin-left: -5px;
}

.download-btn2 > span.right2 i.fas.fa-file-csv {
  transform: translate(-10px, 5px) scale(1.5);
}

.btn__access.download-btn2:hover span.left2 {
  margin-left: -144px;
}

.delete-btn2 > span.left2 {
  padding: 6px 35px;
  transition: all 300ms ease-in-out;
}

.delete-btn2 > span.right2 {
  padding: 6px 68px;
  margin-left: -5px;
}

.delete-btn2 > span.right2 i.fas.fa-trash {
  transform: translate(-10px, 5px) scale(1.5);
}

.btn__access.delete-btn2:hover span.left2 {
  margin-left: -115px;
}

/* Image btns */
.btn-group__images {
  margin-top: 10px;
  padding: 10px;
  border-top: 2px solid #d2d2d2;
}

.btn-group__images > button {
  padding: 3px !important;
  margin: 3px !important;
  font-size: 12px !important;
  width: 100px !important;
}

/* status */
.status.active,
.status.inactive,
.status.pending,
.status.failed,
.status.paused {
  display: inline-block;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 4px;
  transform: translate(-6px, 5px);
}

.status.active {
  background: linear-gradient(310deg, #11a030 0%, #92e22c 100%);
  padding: 0.2rem 0.77rem;
}

.status.inactive {
  background: linear-gradient(310deg, #627594 0%, #a8b8d8 100%);
  padding: 0.2rem 0.45rem;
}

.status.failed {
  background: linear-gradient(310deg, #b82121 0%, #ff6666 100%);
  padding: 0.2rem 0.77rem;
}

.status.pending {
  background: linear-gradient(310deg, #c34f24 0%, #ff9670 100%);
  padding: 0.2rem 0.45rem;
}

.status.paused {
  background: linear-gradient(310deg, #ab00c1 0%, #ff72ff 100%);
  padding: 0.2rem 0.77rem;
}

/* Tooltip */
.tooltip-inner {
  background: linear-gradient(180deg, #26c6da, #00acc1) !important;
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(0 188 212 / 40%);
  color: #fff;
  font-size: 0.85rem;
  text-align: left;
}

.tooltip .arrow:before {
  border-bottom-color: #24a3b3;
  border-top-color: #24a3b3;
}

/* data list */

input::-webkit-calendar-picker-indicator {
  display: none !important;
}

[list]::-webkit-calendar-picker-indicator {
  display: none !important;
}

/* stats-only */
@media (max-width: 1400px) {
  .new-scrape-content,
  .site-detail-content {
    display: flex;
    flex-direction: column;
  }
}

fieldset.site-details-fieldset {
  width: fit-content;
  padding: 0;
  box-shadow: 0 4px 10px 0px rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(255 255 255 / 40%);
}
fieldset.site-details-fieldset > legend {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  color: #fff;
  width: 90%;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: linear-gradient(60deg, #26c6da, #00acc1);
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(0 188 212 / 40%);
}

fieldset.site-details-fieldset.items-scrape > legend {
  background: linear-gradient(60deg, #66bb6a, #43a047);
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(76 175 80 / 40%);
}

fieldset.site-details-fieldset.crawler-stats > legend {
  background: linear-gradient(60deg, #ef5350, #e53935);
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(244 67 54 / 40%);
}

fieldset.site-details-fieldset.items-scrape,
fieldset.site-details-fieldset.crawler-stats,
fieldset.site-details-fieldset.sites {
  background-color: #e7e7e7;
  padding: 5px;
}

table.crawler-table.table,
table.scrape-table.table,
table.site-details.table {
  margin: 0;
  width: 420px;
  height: 360px;
}

table.crawler-table.table td {
  padding: 6px 25px;
}

table.site-details.table td {
  padding: 7px 25px;
  white-space: nowrap;
}

table.scrape-table.table td {
  padding: 5px 25px;
}

table.scrape-table.table td,
table.crawler-table.table td,
table.site-details.table td {
  font-size: 0.85rem;
}

table.scrape-table.table td,
table.crawler-table.table td:first-of-type,
table.site-details.table td:first-of-type {
  font-weight: 500;
}

.form-check-input {
  position: relative;
}

textarea.notes {
  border: 1px solid #bebdbd;
}
textarea.notes:focus {
  border: 1px solid #bebdbd;
  outline: none;
  box-shadow: none;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #bfbfbf;
}
::-webkit-scrollbar-thumb:hover {
  background: #949494;
}

/* Api docs and help */

.help-page,
.api-page {
  padding: 1rem;
  margin-top: 2rem;
  height: 88vh;
  overflow: auto;
}

.help__sec,
.api__sec {
  font-weight: 400;
}

.faq__wrapper,
.api-docs__wrapper {
  margin: 1.5rem;
}

.q-answer {
  width: 70%;
}

code {
  font-size: 90%;
  color: #000;
  font-weight: 500;
  word-break: break-word;
  background-color: #e2e2e2;
  padding: 0 0.5rem;
  border-radius: 0.2rem;
  display: inline-block;
  transition: color 0.2s;
}

.api__screenshot > img {
  max-width: 1200px;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.question-style {
  color: #11a030;
  font-weight: 500;
  font-style: italic;
}

/* images carousel */
.spinner-pulse {
  position: relative;
  top: -250px;
}

.spinner-pulse.chart-A {
  position: absolute;
  top: 40%;
  left: 50%;
  background: transparent;
  font-size: 12px;
}

.spinner-pulse.chartBC {
  position: absolute;
  top: 40%;
  left: 50%;
  background: transparent;
  font-size: 12px;
}

.images-table {
  margin-top: 20px;
  text-align: center;
}

span.images-total {
  position: absolute;
  font-weight: 500;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px;
  transform: translate(-299px, -32px);
}

.carousel {
  display: table;
  margin-right: auto;
  margin-left: auto;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
  /* display: none;   */
  opacity: 0;
  height: 0;
  overflow: hidden;
  /* transition: opacity 200ms ease-in-out;
  transition-delay: 200ms; */
}

.carousel .carousel__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .carousel__item--visible {
  opacity: 1;
  height: 450px;
  width: 600px;
}

.carousel__actions button {
  border: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  background-color: #dbdbdb;
  outline: none;
  border-radius: 10rem;
  transition: all 200ms ease-in-out;
}

.carousel__actions button:hover {
  background: #c3c3c3;
}

button#carousel__button--next {
  float: right;
  transform: translate(-30px, -240px);
}

button#carousel__button--prev {
  float: left;

  transform: translate(30px, -240px);
}

button#carousel__button--prev:hover {
  transform: translate(27px, -240px);
}

button#carousel__button--next:hover {
  transform: translate(-27px, -240px);
}
